@import "../settings/colors";

#toc.toc2 {
    background: $midnight-blue;
    > ul {
        background-position-x: right;
        position: absolute;
        padding-top: 10em;
        width: 21em;
        padding-bottom: 3em;
    }
    a {
        color: white;
    }

    /* overwrite asciidoctor default margins,paddings */
    padding: 0;
    ul {
        margin: 0;
    }
    ul ul {
        padding: 0;
    }

    /* indent manually to allow <a> width of 100% */
    li[data-level="1"] > input[type="checkbox"] + label > a {
        background-color: rgba(black, 0.2);
        padding-left: 1em;
        font-weight: bold;
    }
    li[data-level="2"] > input[type="checkbox"] + label > a {
        padding-left: 2em;
    }
    li[data-level="3"] > input[type="checkbox"] + label > a {
        padding-left: 3em;
        font-size: 1.1em;
    }
    li[data-level="4"] > input[type="checkbox"] + label > a {
        padding-left: 4em;
        font-size: 1em;
    }

    /* have a span the whole width of the TOC to avoid doing this with JS trickery */
    input[type="checkbox"] + label {
        & > a {
            //pointer-events: none;
            width: 100%;
            display: inline-block;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            font-size: 1.2em;
        }
        & > a:hover {
            background-color: rgba(black, 0.05);
            color: $ice;
            transition: background-color 0.5s ease-out;
        }
    }
    input[type="checkbox"]:checked + label {
        & > a {
            // border-left: 0.1em solid white;
            background-color: rgba(black, 0.12);
            font-weight:bold;
        }
    }
    li[data-level="1"] > input[type="checkbox"]:checked + label {
        & > a {
            // border-left: 0.1em solid $coral;
            background-color: rgba(white, 0.08);
        }
    }
    li[data-level="2"] > input[type="checkbox"]:checked + label {
        & > a {
            // border-left: 0.1em solid $ice;
            background-color: rgba(white, 0.05);
        }
    }
    li[data-level="3"] > input[type="checkbox"]:checked + label {
        & > a {
            // border-left: 0.1em solid black;
            background-color: rgba(white, 0.04);
        }
    }
    li[data-level="4"] > input[type="checkbox"]:checked + label {
        & > a {
            // border-left: 0.1em solid black;
            background-color: rgba(white, 0.03);
        }
    }
    /* do not display anything below level 5 in main toc */
    li[data-level="5"] {
        display: none;
    }

    /* do not display a real checkbox in front of the label*/
    input[type="checkbox"] {
        display: none;
    }

    /* hide children of unchecked toc items */
    input[type="checkbox"] + label ~ ul {
        max-height: 0;
        overflow: hidden;
    }

    /* show children of checked toc items */
    input[type="checkbox"]:checked + label ~ ul {
        max-height: 500vh;
        transition: max-height 1s cubic-bezier(1,0,.91,.78);
    }

    input[type="checkbox"]:checked + label {
        & > a {

        }
    }
}
button#burger {
    display: none;
}