@import "settings/colors";
@import "mixins";

$trans-delay: 0.5s;

/* disable scrolling for body */
body.no-scroll {
    overflow: hidden;
}

/* SEARCH FIELD */
input#search {
    &:hover {
        cursor: pointer;
    }
    display: block;
    width: 85%;
    border-radius: 5px;
    border: 1px solid $gray3;
    padding: 0.5em;
    font-size: 1em;
    box-sizing: unset;
    margin: auto;
    background-color: rgba(black, 0.1);
    color: white;
    margin-bottom: 1em;
}

/* CLOSE BUTTON */
#btn-search-close {
    display: block;
    position: absolute;
    top: 3em;
    right: 26em;
    color: white;
    font-size: 1.2em;
    background-color: $coral;
    height: 2em;
    width: 2em;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: $coral;
    }
}

/* SEARCH RESULTS */
ul#search-results {
    display: none;
    li { display: none; }
}

/* INSTRUCTIONS */
#instructions {
    display: none;

    position: fixed;
    @media #{$small} {
        left: 15em;
        width: calc(75% - 15em);
    }
    @media #{$medium} {
        left: 20em;
        width: calc(75% - 20em);
    }
    bottom: 50px;
    border: 2px solid $gray3;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: white;
    margin-left: 10em;
    > div {
        display: none;

        padding: 10px;
    }
}
span.nav-key {
    border: 1px solid $gray3;
    border-radius: 3px;
    padding: 3px 5px;
    background-color: $light-gray;
    color: $gray3;
    font-weight: bold;
    min-width: 2em;
}
span.nav-text {
    color: $gray3;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

#search-results-wrapper {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: white;
    overflow: scroll;
    height: 100vh;
    width: 82.5em;
    padding-left: 0.9375em;
    padding-right: 16em;
    margin-left: auto;
    margin-right: auto;
    /* SEARCH RESULTS */
    ul#search-results {
        // &::before {
        //     content: 'Search Results';
        //     font-size: 3em;
        //     margin-bottom: 0.5em;
        //     display: block;
        //     border-bottom: 3px solid $primary;
        // }
        display: block;
        list-style: none;
        max-width: 62.5em;
        width: 75%;
        margin-bottom: 150px;
        li {
            display: block;
            margin-bottom: 10px;
            > div {
                width: inherit;
                border-radius: 15px;
                position: relative;
                border: 1px solid $gray3;

                * { // normalize elements under this div
                    margin: 0px;
                    text-decoration: none;
                }
                a {
                    h4, p {
                        margin-left: 40px;
                        margin-right: 40px;
                        margin-top: 10px;
                        color: $primary !important;
                    }
                    span.label {
                        position: absolute;
                        top: -1px;
                        right: -1px;
                        border-top-right-radius: 15px;
                        border-bottom-left-radius: 15px;
                        color: white;
                        background-color: $gray3;
                        padding: 4px 10px;
                        font-weight: bold;
                    }
                    &:hover {
                        text-decoration: none;
                        color: $primary;
                    }
                }
            }

            &.selected > div {
                border: 1px solid $sky;
                background-color: rgba($sky, 0.2);
                a > span.label {
                    background-color: $sky;
                }
            }
        }
    } /* END SEARCH RESULTS */
} /* END SEARCH RESULTS WRAPPER */
