@import "settings/colors";
@import "mixins";

/* disable scrolling for body */
body.no-scroll {
    overflow: hidden;
}

/* SEARCH FIELD */
input#search {
    display: block;
    width: 85%;
    border-radius: 5px;
    border: 1px solid #425563;
    padding: 0.5em;
    font-size: 1em;
    box-sizing: unset;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    margin-bottom: 1em;
}

input#search:hover {
    cursor: pointer;
}

/* CLOSE BUTTON */
#btn-search-close {
    color: white;
    font-size: 1.2em;
    background-color: #ff7373;
    height: 2em;
    width: 100%;
    cursor: pointer;
    margin: 1em 0 1em 0;
    &:hover {
    }
}

/* SEARCH RESULTS */
ul#search-results {
    display: none;
}

ul#search-results li {
    display: none;
}

/* INSTRUCTIONS */
#instructions {
    display: none;
    position: fixed;
    bottom: 50px;
    border: 2px solid #425563;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: white;
    margin-left: 10em;
}

// @media only screen and (min-width: 768px) {
//     #instructions {
//         left: 15em;
//         width: calc(75% - 15em);
//     }
// }

// @media only screen and (min-width: 1280px) {
//     #instructions {
//         left: 20em;
//         width: calc(75% - 20em);
//     }
// }

#instructions>div {
    display: none;
    padding: 10px;
}

span.nav-key {
    border: 1px solid #425563;
    border-radius: 3px;
    padding: 3px 5px;
    background-color: #ebebeb;
    color: #425563;
    font-weight: bold;
    min-width: 2em;
}

span.nav-text {
    color: #425563;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

#search-overlay-wrapper {
    position: fixed;
    display: inline-block;
    padding-top: 6.5em;
    background-color: $midnight-blue;
    width: 19em;
    z-index: 1;
}

#search-results-wrapper {
    // width: calc(100% - 20em);
    width: 35em;
    right: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background: linear-gradient(0deg, rgba(231, 231, 231, 1) 0%, rgba(231, 231, 231, 1) 60%, rgba(255, 255, 255, 1) 100%);
    padding: 1.5em;
    transition: all 0.2s ease;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    box-shadow: inset 0px 0px 15px #888;
    box-shadow: none;
    &.open {
        max-height: 100vh;
    }
}

#search-results-wrapper ul#search-results {
    display: block;
    list-style: none;
    overflow-x: hidden;
    margin-top: 0em;
    margin: 0;
    min-height: 2em;
    max-height: calc(100vh - 14em);
    transition: all 0.5s ease;
}

#search-results-wrapper ul#search-results li {
    display: block;
    margin-bottom: 2em;
}

#search-results-wrapper ul#search-results li>div {
    position: relative;
}

#search-results-wrapper ul#search-results li>div * {
    margin: 0;
    text-decoration: none;
}

#search-results-wrapper ul#search-results li>div a h4,
#search-results-wrapper ul#search-results li>div a p {
    color: #002846;
}

#search-results-wrapper ul#search-results li>div a span.label {
    display: inline-block;
    color: white;
    background-color: #425563;
    padding: 0.25em 0.6em;
    font-weight: bold;
    margin-top: 0.1em;
}

#search-results-wrapper ul#search-results li>div a:hover {
    text-decoration: none;
    color: #002846;
}

#search-results-wrapper ul#search-results li.selected>div a>span.label {
    background-color: #2983fb;
}