// Color Palette
// Branding Colors
$night: #002846;
$primary: $night;
$coral: #FF7373;
$secondary: $coral;

$light-gray: #EBEBEB;
$gray1: #D0D3D4;
$gray2: #A2AAAD;
$gray3: #425563;

$sky: #2983FB;
$ice: #8EE6FF;
$mint: #00FFC8;
$mulberry: #A77BCA;

// Old Colors
$blue-gray-1: #7A868C;
$blue-gray-2: #D9DBDC;
$light-gray-old: #F7F7F8;
$black-blue: #000F23;
$dark-gray-1: #414B56;
$dark-gray-2: #525A66;

$sky-blue: #3295D2;
$ice-blue: #8DC8E8;
$cool-green: #14AF96;
$lime: #B8C603;
$ochre: #DFB36C;
$orange: #DF7F21;
$claret: #780A0A;
$lilac: #730F5F;
