@font-face {
    font-family: "Wirecard";
    src: url("../fonts/DINWebPro.woff") format("woff");
}

@font-face {
    font-family: "Wirecard";
    font-weight: 700;
    src: url("../fonts/DINWebPro-Bold.woff") format("woff");
}

@font-face {
    font-family: "Wirecard";
    font-style: italic;
    src: url("../fonts/DINWebPro-Ita.woff") format("woff");
}



@font-face {
    font-family: "Ubuntu Mono";
    src: url("../fonts/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu Mono";
    font-weight: 700;
    src: url("../fonts/UbuntuMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu Mono";
    font-style: italic;
    src: url("../fonts/UbuntuMono-Italic.ttf") format("ttf");
}
