@font-face {
    font-family: "Wirecard";
    font-weight: normal; /* is 300 */
    src: url("../fonts/wd-regular.woff") format("woff");
}

@font-face {
    font-family: "Wirecard";
    font-weight: 700; /* is a 500 really */
    src: url("../fonts/wd-medium.woff") format("woff");
}

@font-face {
    font-family: "Wirecard";
    font-weight: 900;
    src: url("../fonts/wd-bold.woff") format("woff");
}

@font-face {
    font-family: "Wirecard";
    font-style: italic;
    src: url("../fonts/wd-italic.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("../fonts/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu Mono";
    font-weight: 700;
    src: url("../fonts/UbuntuMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu Mono";
    font-style: italic;
    src: url("../fonts/UbuntuMono-Italic.ttf") format("ttf");
}
