@import "fonts/wirecard";
@import "settings/main";
@import "components/asciidoc";
@import "components/awesome-icons";
@import "mixins";

dt, th.tableblock, td.content, div.footnote {
    // NOTE text-rendering is already set for p
    text-rendering: optimizeLegibility;
}

// QUESTION should we tighten letter spacing of text in footnotes?
h1, h2, p, td.content, span.alt {
    letter-spacing: -0.01em;
}

p, td.content, div.footnote {
    strong {
        // NOTE needs to apply anywhere we have bold prose
        letter-spacing: -0.005em;
    }
}

// NOTE include blockquote for when it doesn't have a nested p
p, blockquote, dt, td.content, span.alt {
    font-size: 1.0625rem;
}

p {
    margin-bottom: 1.25rem;
}

// restore font size in sidebar block and regular table cells
.sidebarblock p, .sidebarblock dt, .sidebarblock td.content, p.tableblock {
    font-size: 1em;
}

.exampleblock > .content {
    // white
    //background-color: #fff;
    //border-color: $panel-border-color;
    //@include single-box-shadow($panel-border-color, 0, 1px, 2px);

    // light yellow
    background-color: #fffef7; // from rgb(252,247,227), analogous to #f8f8f7
    border-color: $panel-border-color;
    @include single-box-shadow($panel-border-color, 0, 1px, 4px);
}

@import "components/print";


// ======================== //
// ======== CUSTOM ======== //
// ======================== //


// ======================== //
// ========= MAIN ========= //
// ======================== //

body {
    overscroll-behavior: none;
}

div#content {
    min-height: 100vh;
    max-width: 82.5em;
    padding-right: 16em; // leave room for minitoc
}

// HEADER
/* hide global headline which appears on all pages */
div#header > h1 {
    display: none;
}
/* increase size of h2, h3, h4, h5, relative to now missing h1 */
h2#Home { display: none; }
h2 { font-size: 2.75em; 
    font-weight: bold; }
h3 { font-size: 2.6125em;
        font-weight: bold; }
h4 { font-size: 1.7875em;
        font-weight: bold; }
h5 { font-size: 1.5375em;
        font-weight: bold; }
h6 { font-size: 1.375em;
        font-weight: bold; }

// add custom style for non-standard "h7" because it is being used in the document
h7 { font-size: 1.175em;
        font-weight: bold; }

table.tableblock > .title, div.listingblock > .title { font-size: 1.15em; }
.imageblock > .title { font-size: 1.15em; }
#toctitle, .sidebarblock > .content > .title { font-size: 1.6875em; }

h1, h2, h3, h4, h5, h6 {
    > a {
        // general a tags
        &:hover {
            color: $primary;
        }
        // anchor
        &.anchor {
            display: none;
        }
        // header
        &.link {
            &:hover {
                &::after {
                    font-family: "FontAwesome";
                    content: "\f0c1" !important;
                    line-height: inherit;
                    font-size: smaller;
                    padding-left: 10px;
                }
            }
        }
    }
}

// LINKS
a {
    &:hover {
        color: $coral;
    }
}

// LISTS
ul, ol, dl {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    list-style-position: outside;
    font-family: inherit;
}

// TABLES
td.tableblock div.content div.paragraph p {
    // NOTE fix for wrong font-size in p because no .tableblock class
    font-size: 1em !important;
}


// FOOTER
#footer {
    display: none; /* hide by default */
    background-color: rgba(0,0,0,.05);
    #footer-text {
        color: $gray2;
        text-align: right;
    }
}

// ======================== //
// == INPUTS/BUTTONS/ETC == //
// ======================== //
@import "elements/default";

// ======================== //
// ======= STARTPAGE ====== //
// ======================== //
@import "pages/startpage";

// ======================== //
// ====== SAMPLE TABS ===== //
// ======================== //
@import "elements/sample-tabs";

// ======================== //
// === TABLE OF CONTENT === //
// ======================== //
@import "elements/global-toc";

// ======================== //
// === HIGHLIGHT HASH H === //
// ======================== //
@import "elements/highlight-hash";

// ======================== //
// ========= SEARCH ======= //
// ======================== //
@import "elements/search";

// ======================== //
// ======== MINI TOC ====== //
// ======================== //
@import "elements/minitoc";
